@import "./mixin";
@import "./variable";
main {
    width: 80%;
    margin: 0 auto;
    padding-top: 2.5%;
    // padding-left: 5%;
    & .product {
        margin-top: 2%;
        @include screen();
        & .product__word {
            width: 50%;
            margin-top: 3%;
            margin-left: 1.7%;
            & h1 {
                @include line(1);
                font-size: 80px;
                line-height: 90px;
                font-weight: 800;
                letter-spacing: 0.8px;
            }
            & p {
                width: 80%;
                padding-top: 18%;
                font-size: 18px;
                margin-left: -0.5%;
                line-height: calc(30px / 18px);
            }
            & .product__word-watch {
                @include screen();
                margin-top: 25px;
                & button {
                    margin-left: 0;
                    margin-top: 25px;
                    @include size(165px, 62px);
                    border-radius: 30px;
                    @include bgc($main_color);
                    border: hidden;
                    color: $light-white;
                    font-size: 18px;
                    &:hover {
                        box-shadow: -1px 6px 20px -1px $main_color;
                        // @include size(100px, 50px);
                        // font-size: 18px;
                    }
                }
                & .product__word-icon {
                    @include screen();
                    gap: 14px;
                    justify-content: end;
                    margin-left: -34%;
                    margin-top: 33px;
                    position: relative;
                    font-size: 18px;
                    & ion-icon {
                        @include size(40px);
                    }
                    & li {
                        margin-top: 10px;
                    }
                }
            }
        }
        & .product__images {
            width: 50%;
            justify-content: flex-start;
            & .product__images-person {
                @include size(96%, 85%);
                margin-top: 6%;
                margin-left: -7%;
            }
        }
    }
    @include responsive-max(1250px) {
        .product {
            flex-direction: column;
            padding: 0%;
            margin: 0;
            & .product__word {
                order: 2;
                @include size(100%);
                & h1 {
                    font-size: 300%;
                }
                & p {
                    @include size(100%, auto);
                    font-size: 100%;
                }
                & .product__word-watch {
                    & .product__word-icon {
                        @include size(50%);
                        margin-left: 0%;
                        align-self: start;
                        position: initial;
                        & ion-icon {
                            position: sticky;
                        }
                    }
                }
            }
            & .product__images {
                @include size(100%);
                margin: 0;
                padding: 0;
                & .product__images-person {
                    @include size(125%, 100%);
                    margin-left: -30%;
                }
            }
        }
    }
    & .collabs {
        margin-top: 10%;
        text-align: center;
        & h1 {
            font-weight: 700;
            font-size: 40px;
            line-height: 48.41px;
            text-align: center;
            margin-top: 128px;
            letter-spacing: 0.5px;
        }
        & .collabs-image {
            margin: 5% 0%;
            opacity: 1;
            @include size(93%, 100%);
            margin-left: -4%;
            // height: 40px;
        }
    }
    @include responsive-max(1250px) {
        .collabs {
            h1 {
                font-size: 26px;
                font-weight: 600;
            }
            & .collabs-image {
                @include size(100%, 20px);
                // width: 100%;
                // height: 20px;
            }
        }
    }
    & .aboutus {
        margin-top: 10%;
        margin-left: 20px;
        @include screen();
        font-size: 20px;
        @include size(100%, auto);
        & .aboutus__left {
            & h2 {
                @include size(90%, auto);
                font-size: 50px;
                opacity: 1;
                margin-left: 0%;
            }
            & p {
                @include size(93%, auto);
                margin-top: 4.5%;
                color: $font-small-color;
                margin-left: 0%;
                font-size: 16px;
                line-height: calc(30px / 16px);
            }
            & .aboutus__left-evaluate {
                margin-top: 9.5%;
                @include screen();
                align-self: start;
                & .aboutus__left-evaluate__left {
                    margin-left: 0%;
                    margin-top: 1%;
                    display: inline-block;
                    & .aboutus__left-evaluate--icon {
                        & ion-icon {
                            color: $start-color;
                            @include size(23px, 23px);
                        }
                    }
                    & h3 {
                        padding: 18px 0px;
                        font-size: 18px;
                    }
                }
                & .aboutus__left-evaluate__right {
                    margin-left: -36%;
                    // margin-top: -1%;
                    display: inline-block;
                    margin-top: 1%;

                    & .aboutus__left-evaluate--icon {
                        & ion-icon {
                            color: $start-color;
                            @include size(23px, 23px);
                        }
                    }
                    & h3 {
                        padding: 18px 0px;
                        font-size: 18px;
                    }
                }
            }
        }
        & .aboutus__right {
            & .aboutus__right-iterm {
                margin-left: -2%;
                @include screen();
                gap: 7%;
                padding-bottom: 15%;
                & img {
                    @include size(45px);
                    padding-top: 3%;
                    background-color: $light-white;
                }
                & #analytics {
                    margin: -45px -5px;
                }
                & #engagement {
                    margin: -45px 0px;
                }
                & .aboutus__right-iterm__word {
                    & h3 {
                        font-size: 28px;
                        padding-bottom: 2%;
                        letter-spacing: 0.7px;
                        margin-left: 3px;
                    }
                    & p {
                        width: 100%;
                        color: $font-small-color;
                        line-height: calc(30px / 18px);
                        font-size: 18px;
                        letter-spacing: 0.8px;
                        // margin-left: 1px;
                    }
                }
            }
        }
    }
    @include responsive-max(1024px) {
        .aboutus {
            background-color: $font-small-color;
            flex-direction: column;
            & .aboutus__left {
                text-align: center;
                & h2 {
                    @include size(100%, auto);
                    font-size: 30px;
                    opacity: 1;
                    margin-left: -15px;
                }
                & p {
                    @include size(100%, auto);
                    font-size: 15px;
                    margin-top: 5%;
                    margin-left: -15px;
                }
                & .aboutus__left-evaluate {
                    margin-top: 5%;
                    margin-left: -10px;
                    & .aboutus__left-evaluate__left {
                        & h3 {
                            font-size: 20px;
                        }
                        & h4 {
                            font-size: 15px;
                        }
                    }
                    & .aboutus__left-evaluate__right {
                        margin-left: 0%;
                        font-size: 20px;
                        & h3 {
                            font-size: 20px;
                        }
                        & h4 {
                            font-size: 15px;
                        }
                    }
                }
            }
            & .aboutus__right {
                & .aboutus__right-iterm {
                    flex-direction: column;
                    text-align: center;
                    margin-left: -40px;
                    & img {
                        @include size(30%, 100px);
                    }
                    & #analytics {
                        margin: 45px 120px;
                    }
                    & #engagement {
                        margin: 45px 120px;
                    }
                    & .aboutus__right-iterm__word {
                        & .h3 {
                            font-size: 20px;
                        }
                        & .p {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
    @include responsive-min(300px) {
        .aboutus__left-evaluate {
            & .aboutus__left-evaluate__left {
                margin-left: 0%;
            }
        }
    }
    & .blogs {
        margin-top: 6%;
        & .blogs__top {
            display: grid;
            grid-template-columns: 1fr 2fr 0.5fr;
            & h2 {
                font-size: 50px;
                margin-left: 4%;
                letter-spacing: 0.8px;
            }
            & p {
                text-align: left;
                width: 67%;
                font-size: 18px;
                color: $font-small-color;
                line-height: calc(30 / 18);
                margin-top: 18px;
                margin-left: 113px;
            }
            & .blogs__top-button {
                // margin-right: 35%;
                & button {
                    position: relative;
                    margin-left: -8%;
                    margin-top: 18%;
                    @include size(162px, 66px);
                    border-radius: 40px;
                    font-size: 18px;
                    color: $light-white;
                    @include bgc($main_color);
                    border: hidden;
                    &:hover {
                        box-shadow: -1px 6px 20px -1px $main_color;
                    }
                }
            }
        }
        & .blogs__bottom {
            @include screen();
            gap: 44px;
            margin-top: 6%;
            margin-left: 15px;
            & .blogs__bottom-iterm {
                & img {
                    @include size(364px 430px);
                }
                & h3 {
                    // font-weight: 600;
                    font-size: 30px;
                    margin-top: 25px;
                    margin-left: 2px;
                    letter-spacing: 1;
                }
                & p {
                    font-size: 18px;
                    margin-top: 5%;
                    color: $font-small-color;
                    line-height: calc(30 / 18);
                }
            }
        }
    }
    @include responsive-max(1024px) {
        .blogs {
            & .blogs__top {
                @include screen();
                flex-direction: column;
                text-align: center;
                & h2 {
                    font-size: 35px;
                    margin-left: 5px;
                }
                & p {
                    margin-top: 5%;
                    width: 95%;
                    font-size: 18px;
                    margin-left: 8px;
                }
                & .blogs__top-button {
                    margin-top: 5%;
                    @include size(107%, 50px);
                    & button {
                        @include size(100%, 50px);
                    }
                }
            }
            & .blogs__bottom {
                margin-top: 5%;
                flex-direction: column;
                & .blogs__bottom-iterm {
                    text-align: center;
                    margin-top: 10%;
                    & img {
                        @include size(70%, 250px);
                    }
                    & h3 {
                        font-size: 20px;
                    }
                    & p {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
